apiVersion: k8s.keycloak.org/v2alpha1
kind: KeycloakRealmImport
metadata:
  name: backstage
  labels:
    app: keycloak-backstage
    app.kubernetes.io/instance: keycloak-backstage
    app.kubernetes.io/name: keycloak-backstage
  annotations:
    avp.kubernetes.io/path: "{{ .Values.clientSecret }}"
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    kubectl.kubernetes.io/restartedAt: "{{ now | date "2006-01-02T15:04:05Z" }}"
    keycloak.org/force-import: "true"
spec:
  keycloakCRName: keycloak-backstage
  realm:
    realm: backstage
    displayName: Backstage Authentication Realm
    enabled: true
    identityProviders:
      - alias: github
        providerId: github
        config:
          clientId: <path:{{ .Values.clientSecret }}#clientId>
          clientSecret: <path:{{ .Values.clientSecret }}#clientSecret>
          defaultScope: "user:email read:user"
    clients:
      - clientId: backstage
        name: backstage
        description: Backstage OIDC Client
        enabled: true
        clientAuthenticatorType: client-secret
        standardFlowEnabled: true
        directAccessGrantsEnabled: true
        implicitFlowEnabled: false
        publicClient: false
        protocol: openid-connect
        defaultClientScopes:
          - profile
          - email
          - roles
        redirectUris:
{{- range .Values.client.redirectUri }}
          - {{ . | quote }}
{{- end }}


