apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/part-of: models-as-a-service
    app.kubernetes.io/component: api
    app.kubernetes.io/name: maas-api
  annotations:
    argocd.argoproj.io/sync-wave: "-5"

