{{- if .Values.observability.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: limitador-metrics
  namespace: {{ .Values.observability.serviceMonitor.namespace }}
  labels:
    app: limitador
    app.kubernetes.io/part-of: models-as-a-service
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  selector:
    matchLabels:
      app: limitador
  endpoints:
  - port: http
    path: /metrics
    interval: 30s
{{- end }}

