---
{{ range $applications := .Values.argocd.applications -}}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ $applications.name }}-applicationset
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true,Delete=false
  {{- range $key, $value := $applications.annotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
spec:
  generators:
  - clusterDecisionResource:
      configMapRef: acm-placement
      labelSelector:
        matchLabels:
          cluster.open-cluster-management.io/placement: all-spoke-clusters
      requeueAfterSeconds: {{ $.Values.requeueAfterSeconds | default 10 }}
  template:
    metadata:
      name: '{{`{{name}}`}}-{{ $applications.name }}'
      namespace: openshift-gitops
      annotations:
        # ACM Pull model annotations - propagate to spoke
        apps.open-cluster-management.io/ocm-managed-cluster: '{{`{{name}}`}}'
        apps.open-cluster-management.io/ocm-managed-cluster-app-namespace: openshift-gitops
        argocd.argoproj.io/skip-reconcile: "true"
        argocd.argoproj.io/compare-options: IgnoreExtraneous
    spec:
      destination:
        namespace: openshift-gitops
        server: https://kubernetes.default.svc
      project: {{ $applications.project }}
      sources:
        - repoURL: {{ $applications.helmRepoUrl }}
          chart: {{ $applications.chart }}
          targetRevision: {{ $applications.targetRevision }}
          path: /charts
          helm:
            valueFiles:
            - $values/{{`{{metadata.labels.environment}}`}}/{{`{{name}}`}}/{{ $applications.gitPathFile }}
            values: |
              appTeam: {{ $applications.name }}
        - repoURL: {{ $applications.gitRepoUrl }}
          targetRevision: HEAD
          ref: values
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
        - ApplyOutOfSyncOnly=true
        - CreateNamespace=true
---
{{ end }}

