---
{{ range $applications := .Values.argocd.applications -}}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ $applications.name }}-applicationset
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-wave: "15"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
  {{- range $key, $value := $applications.annotations }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
spec:
  generators:
  - matrix:
      generators:
      - clusterDecisionResource:
          configMapRef: acm-placement
          labelSelector:
            matchLabels:
              cluster.open-cluster-management.io/placement: all-spoke-clusters
          requeueAfterSeconds: {{ $.Values.requeueAfterSeconds | default 10 }}
      - clusters:
          selector:
            matchLabels:
              argocd.argoproj.io/secret-type: cluster
          values:
            environment: '{{`{{metadata.labels.environment}}`}}'
  template:
    metadata:
      name: '{{`{{name}}`}}-{{ $applications.name }}'
      namespace: openshift-gitops
      annotations:
        # ACM Pull model annotations - propagate to spoke
        apps.open-cluster-management.io/ocm-managed-cluster: '{{`{{name}}`}}'
        apps.open-cluster-management.io/ocm-managed-cluster-app-namespace: openshift-gitops
        apps.open-cluster-management.io/pull-to-ocm-managed-cluster: 'true'
        argocd.argoproj.io/skip-reconcile: "true"
        argocd.argoproj.io/compare-options: IgnoreExtraneous
    spec:
      destination:
        namespace: openshift-gitops
        server: https://kubernetes.default.svc
      project: {{ $applications.project }}
      sources:
        - repoURL: {{ $applications.helmRepoUrl }}
          chart: {{ $applications.chart }}
          targetRevision: {{ $applications.targetRevision }}
          path: /charts
          helm:
            valueFiles:
            - $values/{{`{{values.environment}}`}}/{{`{{name}}`}}/{{ $applications.gitPathFile }}
            values: |
              appTeam: {{ $applications.name }}
        - repoURL: {{ $applications.gitRepoUrl }}
          targetRevision: HEAD
          ref: values
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
        - ApplyOutOfSyncOnly=true
        - CreateNamespace=true
---
{{ end }}

