{{ range $ns := .Values.namespaces -}}
---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ $ns.name }}"
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    argocd.argoproj.io/sync-options: Delete=false
  {{- if $ns.annotations }}
  annotations:
    {{- toYaml $ns.annotations | trimPrefix "|" | indent 2 }}
  {{ end }}
  labels:
  {{- if $ns.labels }}
    {{- toYaml $ns.labels | trimPrefix "|" | indent 2 }}
  {{ end }}
---
{{ end -}}
