{{ $defaults := .Values.defaults }}
{{ range $applications := .Values.applications }}
{{ if $applications.gitopsCreate }}
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: "{{ $defaults.clusterName }}-{{ $applications.apmnum }}-project"
  namespace: application-gitops
  annotations:
    # ACM hub annotations.
    apps.open-cluster-management.io/ocm-managed-cluster: '{{ $defaults.clusterName }}'
    apps.open-cluster-management.io/ocm-managed-cluster-app-namespace: openshift-gitops
    argocd.argoproj.io/skip-reconcile: "true"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  sourceNamespaces:
  - "{{ $defaults.clusterName }}-{{ $applications.apmnum }}-{{ $applications.appserviceNumber }}-team"
  description: "{{ $applications.apmnum }} users project"
  sourceRepos:
  {{ toYaml $applications.appProject.repos | nindent 2 }}
  clusterResourceWhitelist:
  - group: '*'
    kind: Namespace
  {{- if $applications.appProject.clusterResourceWhitelist }}
  {{ toYaml $applications.appProject.clusterResourceWhitelist | nindent 2 }}
  {{- end }}
  destinations:
  - namespace: "{{ $defaults.clusterName }}-{{ $applications.apmnum }}-{{ $applications.appserviceNumber }}-*"
    server: 'https://kubernetes.default.svc'
  {{- if $applications.appProject.destinations }}
  {{ toYaml $applications.appProject.destinations | nindent 2 }}
  {{- end }}
  roles:
  {{- if $applications.appProject.roles }}
  {{ toYaml $applications.appProject.roles | nindent 2 }}
  {{- else }}
  - name: 'all-app-actions'
    description: Application privliges to my-project
    policies:
    - p, proj:{{ $defaults.clusterName }}-{{ $applications.apmnum }}-{{ $applications.appserviceNumber }}-project:all-app-actions, applications, *, {{ $defaults.clusterName }}-{{ $applications.apmnum }}-{{ $applications.appserviceNumber }}-project/*, allow
    - p, proj:{{ $defaults.clusterName }}-{{ $applications.apmnum }}-{{ $applications.appserviceNumber }}-project:all-app-actions, applicationssets, *, {{ $defaults.clusterName }}-{{ $applications.apmnum }}-{{ $applications.appserviceNumber }}-project/*, allow
    groups:
    - {{ $applications.appProject.adGroup }}
    {{- end }}
  {{- end }}
{{- end }}