{{- if .Values.openshiftAI.datasciencecluster.enabled -}}
---
apiVersion: datasciencecluster.opendatahub.io/v1
kind: DataScienceCluster
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.openshiftAI.datasciencecluster.syncwave | quote }}
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true,Validate=false
  name: {{ .Values.openshiftAI.datasciencecluster.name }}
  namespace: {{ .Values.openshiftAI.namespace.name | default "redhat-ods-operator" }}
spec:
  components:
    # AI Pipelines (replaces datasciencepipelines in v3.0)
    aipipelines:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.aipipelines.managementState | default "Managed" }}
    # Dashboard
    dashboard:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.dashboard.managementState | default "Managed" }}
    # KServe with NIM support
    kserve:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.kserve.managementState | default "Managed" }}
      {{- if .Values.openshiftAI.datasciencecluster.spec.components.kserve.nim }}
      nim:
        managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.kserve.nim.managementState | default "Managed" }}
      {{- end }}
    # Model Registry (new in v3.0)
    modelregistry:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.modelregistry.managementState | default "Managed" }}
      {{- if .Values.openshiftAI.datasciencecluster.spec.components.modelregistry.registriesNamespace }}
      registriesNamespace: {{ .Values.openshiftAI.datasciencecluster.spec.components.modelregistry.registriesNamespace | default "rhoai-model-registries" }}
      {{- end }}
    # Ray
    ray:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.ray.managementState | default "Managed" }}
    # Training Operator (new in v3.0)
    trainingoperator:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.trainingoperator.managementState | default "Managed" }}
    # TrustyAI (new in v3.0)
    trustyai:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.trustyai.managementState | default "Managed" }}
    # Workbenches
    workbenches:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.workbenches.managementState | default "Managed" }}
    # Removed components (explicitly set to Removed for v3.0 compatibility)
    feastoperator:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.feastoperator.managementState | default "Removed" }}
    kueue:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.kueue.managementState | default "Removed" }}
    llamastackoperator:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.llamastackoperator.managementState | default "Removed" }}
{{- end }}
