{{- if .Values.openshiftAI.datasciencecluster.enabled -}}
---
apiVersion: datasciencecluster.opendatahub.io/v2
kind: DataScienceCluster
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.openshiftAI.datasciencecluster.syncwave | quote }}
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true,Validate=false
  name: {{ .Values.openshiftAI.datasciencecluster.name }}
  namespace: {{ .Values.openshiftAI.namespace.name | default "redhat-ods-operator" }}
spec:
  components:
    # AI Pipelines
    aipipelines:
      {{- if .Values.openshiftAI.datasciencecluster.spec.components.aipipelines.argoWorkflowsControllers }}
      argoWorkflowsControllers:
        managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.aipipelines.argoWorkflowsControllers.managementState | default "Managed" }}
      {{- end }}
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.aipipelines.managementState | default "Managed" }}
    # Dashboard
    dashboard:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.dashboard.managementState | default "Managed" }}
    # Feast Operator
    feastoperator:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.feastoperator.managementState | default "Managed" }}
    # KServe
    kserve:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.kserve.managementState | default "Managed" }}
      {{- if .Values.openshiftAI.datasciencecluster.spec.components.kserve.nim }}
      nim:
        managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.kserve.nim.managementState | default "Managed" }}
      {{- end }}
    # Kueue
    kueue:
      {{- if .Values.openshiftAI.datasciencecluster.spec.components.kueue.defaultClusterQueueName }}
      defaultClusterQueueName: {{ .Values.openshiftAI.datasciencecluster.spec.components.kueue.defaultClusterQueueName }}
      {{- end }}
      {{- if .Values.openshiftAI.datasciencecluster.spec.components.kueue.defaultLocalQueueName }}
      defaultLocalQueueName: {{ .Values.openshiftAI.datasciencecluster.spec.components.kueue.defaultLocalQueueName }}
      {{- end }}
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.kueue.managementState | default "Managed" }}
    # Llama Stack Operator
    llamastackoperator:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.llamastackoperator.managementState | default "Managed" }}
    # Model Registry
    modelregistry:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.modelregistry.managementState | default "Managed" }}
      registriesNamespace: {{ .Values.openshiftAI.datasciencecluster.spec.components.modelregistry.registriesNamespace | default "rhoai-model-registries" }}
    # Ray
    ray:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.ray.managementState | default "Managed" }}
    # Training Operator
    trainingoperator:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.trainingoperator.managementState | default "Managed" }}
    # TrustyAI
    trustyai:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.trustyai.managementState | default "Managed" }}
    # Workbenches
    workbenches:
      managementState: {{ .Values.openshiftAI.datasciencecluster.spec.components.workbenches.managementState | default "Managed" }}
      workbenchNamespace: {{ .Values.openshiftAI.datasciencecluster.spec.components.workbenches.workbenchNamespace | default "rhods-notebooks" }}
{{- end }}
